.touch-container {
  height: 800px;
  background-color: #f5f3ef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-left: 30px; */
}
.touch-heading {
  font-family: "Poppins", sans-serif;
}
.touch-heading h2 {
  font-size: 62px;
  line-height: 82px;
}
.touch-img {
  width: 30%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.touch-img img {
  object-fit: contain;
  width: 387px;
}
.touch-para {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.touch-para p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #4b5563;
  padding-bottom: 20px;
}
.touch-container-contained {
  display: flex;
  width: 100%;
  padding-left: 20px;
}
.left-touch {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  flex-direction: column;
  gap: 15px;
}
.right-touch {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: left;
  /* background-color: red; */
  height: 500px;
}
.left-section-content {
  background-color: #ffffff;
  width: 543px;
  height: 113px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-section-content-container {
  display: flex;
  width: 100%;
  /* background-color: yellow; */
  height: 113px;
  justify-content: center;
  align-items: center;
}
.le {
  flex: 20;
  /* background-color: purple; */
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.re {
  flex: 80;
  /* background-color: pink; */
  justify-content: center;
  /* align-items: center; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.re-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 50%;
  color: #011632;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 1.5;
  /* background-color: green; */
}
.role-input {
  position: relative;
}
.re-para {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100%;
  font-size: 18px;
  color: #3c4959;
  line-height: 28px;
  letter-spacing: 1.5;
  /* background-color: red; */
}

.le-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.le-image1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.le-image1 img {
  width: 60px;
}
.form-container {
  width: 100%;
  max-width: 550px;
}

label {
  padding-top: 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid #e5e7eb;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px;
  color: #6b7280;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/* select option[value=""] {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 25px;
  padding-left: 10px;
  color: #6b7280;
} */
select option:hover {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ae9c7f !important;
}
select option:active,
select option:hover,
select option :focus {
  background-color: #ae9c7f !important;
}
select option {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-left: 10px;
  /* background-color: red; */
  color: #6b7280;
}
input {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid #e5e7eb;
}
textarea {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid #e5e7eb;
  padding-left: 10px;
  line-height: 25px;
  font-size: 18px;
  padding-top: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  width: 48%;
}
.good {
  display: flex;
  position: relative;
}
.role-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10%;
  bottom: 30%;
}
.role-img img {
  object-fit: contain;
}
input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding-left: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.para-form1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 90%;
}
.para-form1 p {
  padding-top: 20px;
  font-size: 16px;
  line-height: 25px;
  color: #6b7280;
}
/* .form-button {
  display: flex;
  justify-content: center;
  align-self: center;
} */
.form-button button {
  width: 100%;
  height: 66px;
  border-radius: 10px;
  background-color: rgba(174, 156, 127, 1);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: none;
}
.form-img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.form-img-container img {
  object-fit: contain;
  width: 1265px;
  padding-left: 20px;
}
.whole-container-sb {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1230px;
}
.whole-container-left {
  display: flex;
  align-items: left;
  gap: 15px;
}
.whole-items {
  color: #6b7280;
  font-weight: 400;
  font-size: 18px;
}
.whole-container-right {
  display: flex;
  gap: 10px;
}
.title-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-container1 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #4b5563;
}
