.experience-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: red; */
  height: auto;
  padding-top: 20px;
}
.right-background {
  background-image: url("../../Assetss/Body.png");
  background-repeat: no-repeat;
}
.hello {
  position: absolute;
  top: 1%;
  left: 0;
  height: 81px;
  width: 300px;
}
.left-sectionn {
  width: 55%;
  padding: 20px;
  /* background-color: yellow; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  position: relative;
}

.right-sectionn {
  width: 30%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}
.image-conatiner {
  height: auto;
  width: 400px;
  /* background-color: pink; */
  padding-top: 15px;
}
.image-conatiner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-container button {
  padding: 11px 60px;
  font-size: 15px;
  background-color: #ae9c7f;
  color: #f3f4f6;
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 74%;
}
.heading-conatiner {
  width: 66%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.heading-conatiner h2 {
  font-size: 48px;
  line-height: 58px;
}
.para-container {
  width: 79%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.para-container p {
  font-size: 31px;
}
